@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";



:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: rgb(27, 27, 27);
    background-color: rgb(255, 243, 234);

    --std-padding: 0.5rem;
    --std-border-radius: 0.25rem;
    --std-transition: transform 0.1s linear;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.links {
    font-weight: 500;
    color: hsl(237, 100%, 78%);
    text-decoration: inherit;
}
.links:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: var(--std-border-radius);
    padding-inline: 1rem;
    padding-block: var(--std-padding);
    transition: var(--std-transition);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

input {
  @apply focus:outline-0 bg-white p-2 rounded-sm border-2;
}


button:hover {
    transform: translateY(-0.1rem);
    transition: var(--std-transition);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.order-link {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: var(--std-border-radius);
  padding-inline: 1rem;
  padding-block: 0.2rem;
  transition: var(--std-transition);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.order-link:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: var(--std-transition);
}


.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.card {
  background: white;
  border: 2px black solid;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08), 0 1.5px 4px rgba(0,0,0,0.06);
  border-radius: 1rem;
  padding: 2rem;
}


.delete-button:hover {
  background-color: red;
}


.order-card {
  background-color: white;
  border-radius: var(--std-border-radius);
  border-width: 2px;
  padding: 1rem;
  box-shadow: white;
  transition: var(--std-transition);
  cursor: pointer;
  flex-direction: row;
  display: flex;
  gap:1rem;
  align-items: center;
  justify-content: space-between;
  min-width: 20rem;
}

.order-card:hover {
  transform: translateY(-0.2rem);
  transition: var(--std-transition);
}



.tag {
  border: 2px solid;
  border-radius: var(--std-border-radius);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0.1rem var(--std-padding);
  transition: var(--std-transition);
}


.tag-no-hover {
  border: 2px solid;
  border-radius: var(--std-border-radius);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0.1rem var(--std-padding);
  transition: var(--std-transition);
}

.tag:hover {
  transform: translateY(-0.1rem);
  transition: var(--std-transition);
}



.tag-selected {
  background-color: rgb(234, 248, 255)
}


.item-card {
  background-color: white;
  border-radius: var(--std-padding);
  border-width: 2px;
  padding: 1rem;
  box-shadow: white;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  gap:1rem;
  height: 20rem;
  width: 12rem;
  align-items: center;
}


.form-div {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}